<div id="<%= dom_id archive %>">
  <p>
    <strong>Title:</strong>
    <%= archive.title %>
  </p>

  <p>
    <strong>Archive type:</strong>
    <%= archive.archive_type_id %>
  </p>

  <p>
    <strong>Archive data:</strong>
    <%= archive.archive_data %>
  </p>

</div>
