<div id="<%= dom_id archive_type %>">
  <p>
    <strong>Archive type:</strong>
    <%= archive_type.archive_type %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= archive_type.ancestry %>
  </p>

</div>
