<h1>Editing archive type</h1>

<%= render "form", archive_type: @archive_type %>

<br>

<div>
  <%= link_to "Show this archive type", @archive_type %> |
  <%= link_to "Back to archive types", archive_types_path %>
</div>
